<!doctype html>
<html>
	{% set page="Add Team" %}
	{% include 'head.html' %}
	<body>
		<h1> Welcome to Formula1 </h1>

		{% include 'flash_messages.html' %}

		<div id="firebase-auth-container"></div>

		{% include 'login-info.html' %}
		{% include 'non-user-actions.html' %}

		<div id="firebase-auth-container"></div>


		<p style="background-color:Tomato;"> {{ page }} </p> 
		<div id="add-team">
			<form action="/add_team" method="post">
				{% for elem in data.team_att %}
				{{ elem.0 }}: <input type="{{ elem.1 }}" name="{{ elem.0 }}"/><br/>
				{% endfor %}
				<input type="submit" name="button"/>
			</form>
		</div>
	</body>
</html>
