<!doctype html>

<html>
	{% include 'head.html' %}
	<body>
		<h1> Welcome to Formula1 </h1>

		{% include 'flash_messages.html' %}

		<div id="firebase-auth-container"></div>

		{% include 'login-info.html' %}
		{% include 'non-user-actions.html' %}

		<div id="firebase-auth-container"></div>

		<p style="background-color:Tomato;"> Add {{ kind }} </p> 
		<div id="add-{{kind}}">
			<form action="/add/{{kind}}" method="post">
				{% if data %}
				{% for elem in data %}
				{{ elem.0 }}: <input type="{{ elem.1 }}" name="{{ elem.0 }}"/><br/>
				{% endfor %}
				{% endif %}
				<input type="submit" name="button"/>
			</form>
		</div>
	</body>
</html>
