<!doctype html>

<html>
	{% include 'head.html' %}
	<body>
		<h1> Welcome to Formula1 </h1>

		{% include 'flash_messages.html' %}

		<div id="firebase-auth-container"></div>

		<span> {% include 'login-info.html' %} {% include 'non-user-actions.html' %} </span>

		<div id="firebase-auth-container"></div>

		<p style="background-color:Tomato;"> Add {{ db }} </p> 
		<div id="add-{{kind}}">
			<form action="/add/{{kind}}" method="post">
				{% if data %}
				{% for elem in data[kind] %}
				{{ elem }}: <input type="text" name="{{ elem }}"/><br/>
				{% endfor %}
				{% endif %}
				<input type="submit" name="button"/>
			</form>
		</div>
	</body>
</html>
