<!doctype html>
<html>
	{% include 'head.html' %}
	<body>
		{% include 'navbar.html' %}

		<div class="container">
			<form action="/compare" method="post">
				Compare: <select name="compare-kind" id="compare-kind">
					{% for elem in data.keys() %}
					<option value="{{elem}}"> {{ elem }}</option>
					{% endfor %}
				</select> </br>
				name1: <input type="text" name="name1"/>
				name2: <input type="text" name="name2"/>
				</br>
				<input type="submit" name="button" value="Start Comparison"/>
			</form>
		</div>
		<div class=container>
			{% if retreived %}
			<table style="width:100%">

				{% for elem in data[kind] %}
				{% if elem == 'name' %}
				<tr> <th> NAME </th><th> {{retreived[0][elem].0}} </th> <th> {{retreived[1][elem].0}} </th> </tr>
				{% else %}
				<tr>
					<th>{{elem}}</th>
					<td id={{retreived[0][elem].1}}> {{retreived[0][elem].0}} </td>
					<td id={{retreived[1][elem].1}}> {{retreived[1][elem].0}} </td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</body>
</html>
