<!doctype html>
<html>
	{% include 'head.html' %}
	<body>
		{% include 'navbar.html' %}

		<div class="container">
			<form action="/compare" method="post">
				Compare: <select name="compare-kind" id="compare-kind">
					<option value="" selected="selected">Select Database</option>
				</select> </br></br>
				name1: <select name="name1" id="name1">
					<option value="" selected="selected">Select Entity if Exist</option>
				</select> 
				name2: <select name="name2" id="name2">
					<option value="" selected="selected">Select Entity if Exist</option>
				</select> </br></br>   

				<input type="submit" name="button" value="Start Comparison"/>
			</form>
		</div>
		<div class=container>
			{% if retreived %}
			<table style="width:100%">

				{% for elem in data[kind] %}
				{% if elem == 'name' %}
				<tr> <th> NAME </th><th> {{retreived[0][elem].0}} </th> <th> {{retreived[1][elem].0}} </th> </tr>
				{% else %}
				<tr>
					<th>{{elem}}</th>
					<td id={{retreived[0][elem].1}}> {{retreived[0][elem].0}} </td>
					<td id={{retreived[1][elem].1}}> {{retreived[1][elem].0}} </td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</body>
</html>
<script>
	window.onload = function() {
			var dd_data = {{ dd_data | safe }}
			var compareSel = document.getElementById("compare-kind");
			var name1Sel = document.getElementById("name1");    
			var name2Sel = document.getElementById("name2");    

			compareSel.legnth = 1;
			for (var x in dd_data) {
					compareSel.options[compareSel.options.length] = new Option(x, x);
				}

			compareSel.onchange = function() {
					name1Sel.length = 1;
					name2Sel.length = 1;
					for (var y in dd_data[this.value]) {
							name1Sel.options[name1Sel.options.length] = new Option(dd_data[this.value][y], dd_data[this.value][y]);
							name2Sel.options[name2Sel.options.length] = new Option(dd_data[this.value][y], dd_data[this.value][y]);
						}
				}
		}
</script>

