<!doctype html>

<style>
table, th, td {
	border:1px solid black;
}
</style>

<html>
	{% include 'head.html' %}
	<body>
		<h1> Welcome to Formula1 </h1>

		{% include 'flash_messages.html' %}

		<div id="firebase-auth-container" hidden="true"></div></br>

		<span> {% include 'login-info.html' %} {% include 'non-user-actions.html' %} </span>

		<p style="background-color:#ffa500;"> Query Page </p> 
		<div id="query-menu">
			<form action="/query" method="post">
				<select name="query_key" id="query_key">
					{% for elem in data.driver %}
					<option value="driver.{{ elem }}"> driver.{{ elem }}</option>
					{% endfor %}
					{% for elem in data.team %}
					<option value="team.{{ elem }}"> team.{{ elem }}</option>
					{% endfor %}
				</select>
				Should Be bigger than: <input type="text" name="query_value"/><br/>
				<input type="submit" name="button"/>
			</form>
		</div>
		{% if result %}
		<p> Query on {{ kind }} and found {{ result|length }} items. </p>
		<table style="width:100%">
			<tr>
				{% for colname in data[kind] %}
				<th>{{colname}}</th>
				{% endfor %}
			</tr>
			{% for mp in result %}
			<tr>
				<td><a href="/update/{{kind}}/{{mp['name']}}">{{ mp['name'] }} </a></td>
				{% for i in range(1, data[kind]|length, 1) %}
				<td>{{ mp[data[kind][i]] }} </td>
				{% endfor %}
			</tr>
			{% endfor %}
			{% endif %}
		</table>

	</body>
</html>
<!-- <input type="submit" name="delete row" id="result.kind-elem[0]"> -->
