<!doctype html>
<html>
	<head>
		<title>Formula1 Statistics</title>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static',
			    filename='style.css') }}">
		<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
		<link type="text/css" rel="stylesheet"
				      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
	</head>
	<body>
		<h1> Welcome to Formula1 </h1>
		<p> Driver Query Page </p>
		<div id="firebase-auth-container"></div>
		<button id="sign-out" hidden="true" >Sign out</button>
		<button id="homepage" onclick="document.location='/'"> homepage </button>
		<div id="login-info" hidden="true">
			<h2>Login Info</h2>
			{% if user_info %}
			<dl>
				<dt>Hello Dear: </dt><dd>{{ user_info['email'] }}</dd>
			</dl>
			{% elif error_message %}
			<p>Error Message: {{ error_message }}</p>
			{% endif %}
		</div>	
		<div id="query-driver">
			<form action="/query_driver" method="post">
			name: 		<input type="text" name="name"/><br/>
			age: 		<input type="number" name="age"/><br/>
			pole_position:  <input type="number" name="pole_position"/><br/>
			wins: 		<input type="number" name="wins"/><br/>
			points: 	<input type="number" name="points"/><br/>
			titles:		<input type="number" name="titles"/><br/>
			fastest_laps:	<input type="number" name="fastest_laps"/><br/>
			team:		<input type="text" name="team"/><br/>
					<input type="submit" name="button"/>
			</form>
		</div>
		<div id="result">
			{% for driver in result %}
			{{driver.name}} <br/>
			{{driver.age}} <br/>
			{{driver.pole_position}} <br/>
			{{driver.wins}} <br/>
			{{driver.points}} <br/>
			{{driver.titles}} <br/>
			{{driver.fastest_laps}} <br/>
			{{driver.team}} <br/>
			<br><br>
			{% endfor %}
		</div>
	</body>
	<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
	<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</html>
