<!doctype html>
<html>
	{% include 'head.html' %}
	<body>
		{% include 'navbar.html' %}
		<div class="container">
			{% if result %}
			<p> Edit {{ kind }} </p>
			<table style="width:100%">
				<form action="/update/{{kind}}/{{result['name']}}" method="POST" >
					{% for elem in data[kind] %}
					<tr>
						{% if elem == 'name' %}
						<th> {{elem}}</th><td>{{result[elem]}}</td>
						{% else %}
						<th> {{elem}}</th><td><input type="text" name="{{elem}}" value="{{result[elem]}}"/></td>
						{% endif %}
					</tr>
					{% endfor %}
			</table>
			<input type="submit" name="button" value="Save edits"/>
				</form>

				<button id="delete-index" onclick="document.location='/delete/{{kind}}/{{result['name']}}'"> Delete {{kind}} </button>
				{%endif%}
		</div>
	</body>
</html>
